// Util

@function lighten($shadeCode, $amount) {
  @return hsl(var(--#{$shadeCode}_h), var(--#{$shadeCode}_s), calc(#{var(--#{$shadeCode}_l)} + #{$amount}));
}


body {
    background-color: #202020;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-cont {

    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    margin: 5px;

}

.form-inner {
    width: 400px;
    height: 100vh;

    border: 1px solid #000;

    background-color: #303030;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 15px;
}

.form-inner > form {


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

form > input {

    margin: 5px;
}